/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	width: 100%;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
}
/* ------------------------------------------------------ */
/* EDIT BAR */
/* ------------------------------------------------------ */
.editBar{
	width: 100%;
	height: 60px;
	background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editBar img{
	margin-right: 10px;
}
.editMode{
    color: white;
    text-decoration: none;
}

.mainContainer{
    max-width: 1140px;
    margin: auto;
    position: relative;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

header a{
	text-decoration: none;
	color: black;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1>span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #b1663c;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}
/* ------------------------------------------------------ */
/* SECTION FORM LOGIN */
/* ------------------------------------------------------ */

#formSection{
	width: 50%;
	margin: auto;
	margin-top: 15%;
}
#formSection>* {
	text-align: center;
}
#formSection form {
	text-align: left;
	/* margin-top: 30px; */
	display: flex;
	flex-direction: column;
}
#formSection input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#formSection label {
	margin: 2em 0 1em 0;
}
#formSection textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#formSection p{
text-align: center;
color: red;
padding: 0;
margin-top: 20px;
margin-bottom: 0px;
}

/* ------------------------------------------------------ */


#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	/* margin-bottom: 1em; */
}
.portfolio__edit__title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio__edit__title img {
    margin-left: 30px;
    margin-right: 10px;
}
.portfolio__edit__title a {
    text-decoration: none;
    color: black;
}
/* ------------------------------------------------------ */
/* EDIT BTN */
/* ------------------------------------------------------ */






/* ------------------------------------------------------ */
/* SECTION FILTRES */
/* ------------------------------------------------------ */
#filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 2%;
}
#filtres div {
	padding: 10px;
	color: #1d6154;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 16px;
	border: 1px solid #1d6154;
	border-radius: 60px;
}
#filtres div:hover{
	background-color: #1d6154;
	color: white;
	cursor: pointer;
	transition: background-color .5s ease-out;
}
/* ------------------------------------------------------ */

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

/* ------------------------------------------------------ */
/* CLASS ACTIVE & INACTIVE */
/* ------------------------------------------------------ */
.active{
	display: block;
}
.inactive{
	display: none;
}
/* ------------------------------------------------------ */


.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}
input[type="submit"]:hover{
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	margin-top: 14%;

}
/* ------------------------------------------------------ */
/* SECTION MODAL */
/* ------------------------------------------------------ */

.modalContainer{
    position: fixed;
    z-index: 1;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
}
.modalGallery{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0;
    width: 40%;
    height: auto;
    background-color: beige;
    border-radius: 10px;
    position: relative;
}
.modalGallery h2{
    margin-top: 10%;
    margin-bottom: 6%;
}
.modalProjects{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    border-bottom: 1px;
    border-style: solid;
    border-color: #B3B3B3;
    margin-bottom: 10px;
    padding: 0 0 40px 12px;
}
.modalProjects img{
    width: 80px;
    margin: 0 10px 30px 0;
    
}
.modalGallery input{
    height: 50px;
	font-size: 1.2em;
	border: none;
    width: 300px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-bottom: 50px;
}
.modalGallery .fa-xmark{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}



